telegram_utils/geodata filter=lfs diff=lfs merge=lfs -text
telegram_utils/geodata/strassen.csv filter=lfs diff=lfs merge=lfs -text
telegram_utils/geodata/zurich.gpkg filter=lfs diff=lfs merge=lfs -text
